.addProducts {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 400px;
    background-color: gray;
    z-index: 3;
    padding: 10px;
    gap: 10px;
}

.productTable {
    width: 100%;
    border-collapse: collapse;
}

.productTable th, .productTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

.productTable th {
    background-color: #f2f2f2;
    text-align: left;
}

.setInventoryBtn, .addInventoryBtn, .deleteItemBtn {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.setInventoryBtn {
    background-color: #4CAF50;
    color: white;
}

.addInventoryBtn {
    background-color: #008CBA;
    color: white;
}

.deleteItemBtn {
    background-color: red;
    color: white;
}

