body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.topHeader {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    width: 80%;
}

.categoryDividers {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 20px;
}

.qty {
    position: fixed;
    top: 300px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    border-radius: 10px;

    background-color: #008CBA;
}

.qtyGrid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerqtybuttons {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

.categoryResult {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-bottom: 100px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.storeMessage {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: medium;
}

.categoryColumn {
    flex: 1;
    margin-bottom: 40px;
}

.products {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    text-align: center;
    width: 170px;
    height: 280px;
    position: relative;
}

.products:hover {
    transform: scale(1.05);
}

.innerItem {
    text-align: center;
    height: 250px;
    font-weight: bold;
}

.innerImg {
    height: 135px;
    padding: 10px;
}

.innerItem img {
    border-radius: 5px;
    height: 80%;
    max-height: 170px;
    max-width: 150px;
}

.addToCartBtn {
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none; 
    position: absolute;
    bottom: 10px;
    left: 50%; 
    transform: translateX(-50%);
}
.products:hover .addToCartBtn { 
    display: block; }

.borderBottomProduct {
    border-top: 2px solid #ddd;
    margin-top: 30px;
    padding-top: 20px;
}

.allProductText {
    text-align: center;
    border-top: 1px solid lightgray;
    padding: 10px;
    margin-top: 0px;
}

.categoryButtons {
    margin: 5px;
    display: flex;
    gap: 10px;
}

.categoryButtons button {
    width: 70px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #555;
}

.dropDown {
    position: absolute;
    top: 80px;
    right: 0px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    width: 380px;
    max-height: 500px;
    overflow-y: auto;
    padding: 10px;
}

.main {
    padding: 10px;
}

.innerCart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    width: 350px;
}

.innerCart img {
    border-radius: 5px;
}

.cartButtonDiv {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    transition: 0.2s ease;
    text-align: center;
    align-items: center;
    display: flex;
}

.cartButtonDiv:hover {
    transform: scale(1.03);
}

.cartButton {
    position: relative;
    top: 0px;
    right: 60px;
    border: none;
    padding: 10px;
}

.addItemsButton {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: 2px;
    left: 100px;
    border: none;
    padding: 10px;
    transition: 0.4s ease;
}

.addItemsButton:hover {
    transform: scale(1.05);
}

.logoutButton {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 30px;
    border: none;
    padding: 10px;
    transition: 0.4s ease;
}

.logoutButton:hover {
    transform: scale(1.05);
}

.ordersButton {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 150px;
    border: none;
    padding: 10px;
    transition: 0.4s ease;
}

.ordersButton:hover {
    transform: scale(1.05);
}

.cartCounter {
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: large;
    color: white;
    width: 30px;
    font-weight: 900;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #e9ecef;
}

footer p {
    margin: 5px 0;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.productsCategoryText {
    text-align: center;
}

.banned {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.sale {
    position: absolute;
    z-index: 2;
    transform: scale(0.4);
    bottom: 160px;
    left: 75px;
}
.discountPercent {
    position: absolute;
    z-index: 2;
    bottom: 245px;
    color: red;
}